<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">

  <parameter name="userName" value="sunnybhawsar07@gmail.com" />
  <parameter name="password" value="Sunny123" />
  
  <parameter name="product" value="Sunglasses" />

    <classes>
      <class name="com.wp.automation.Flipkart"/>
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
